<a href="https://colab.research.google.com/github/Akkimehr/Rprojects/blob/master/Kaggle_Credit_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#### DOWNLOADING THE DATA USING THE KAGGLE API

In [30]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [31]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

In [32]:
import json
token = {"username":"aksh23","key":"be054ce9508e7a59ea4dfb14bf6b07e6"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [33]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [34]:
!kaggle config set -n path -v{/content}

- path is now set to: {/content}

In [35]:
!chmod 600 /root/.kaggle/kaggle.json

In [36]:
!pip install --upgrade kaggle

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)

In [37]:
!kaggle competitions download -c home-credit-default-risk -p /content

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
bureau_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
previous_application.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
application_test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
POS_CASH_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
credit_card_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
installments_payments.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [38]:
# !unzip \*.zip

In [42]:
#### USING THE APPLICATION_TRAIN.csv TO PREDICT THE TARGET

In [43]:
import pandas as pd

train = pd.read_csv('/content/application_train.csv')

train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [44]:
#### NUMBER OF MISSING VALUES PER COLUMN IN THE DATASET

In [45]:
for cols in train.columns:
  print('{}: {}'.format(cols, train[cols].isna().sum()))

SK_ID_CURR: 0
TARGET: 0
NAME_CONTRACT_TYPE: 0
CODE_GENDER: 0
FLAG_OWN_CAR: 0
FLAG_OWN_REALTY: 0
CNT_CHILDREN: 0
AMT_INCOME_TOTAL: 0
AMT_CREDIT: 0
AMT_ANNUITY: 12
AMT_GOODS_PRICE: 278
NAME_TYPE_SUITE: 1292
NAME_INCOME_TYPE: 0
NAME_EDUCATION_TYPE: 0
NAME_FAMILY_STATUS: 0
NAME_HOUSING_TYPE: 0
REGION_POPULATION_RELATIVE: 0
DAYS_BIRTH: 0
DAYS_EMPLOYED: 0
DAYS_REGISTRATION: 0
DAYS_ID_PUBLISH: 0
OWN_CAR_AGE: 202929
FLAG_MOBIL: 0
FLAG_EMP_PHONE: 0
FLAG_WORK_PHONE: 0
FLAG_CONT_MOBILE: 0
FLAG_PHONE: 0
FLAG_EMAIL: 0
OCCUPATION_TYPE: 96391
CNT_FAM_MEMBERS: 2
REGION_RATING_CLIENT: 0
REGION_RATING_CLIENT_W_CITY: 0
WEEKDAY_APPR_PROCESS_START: 0
HOUR_APPR_PROCESS_START: 0
REG_REGION_NOT_LIVE_REGION: 0
REG_REGION_NOT_WORK_REGION: 0
LIVE_REGION_NOT_WORK_REGION: 0
REG_CITY_NOT_LIVE_CITY: 0
REG_CITY_NOT_WORK_CITY: 0
LIVE_CITY_NOT_WORK_CITY: 0
ORGANIZATION_TYPE: 0
EXT_SOURCE_1: 173378
EXT_SOURCE_2: 660
EXT_SOURCE_3: 60965
APARTMENTS_AVG: 156061
BASEMENTAREA_AVG: 179943
YEARS_BEGINEXPLUATATION_AVG: 150007
YEARS_BUILD_AVG: 204488
COMMONAREA_AVG: 214865
ELEVATORS_AVG: 163891
ENTRANCES_AVG: 154828
FLOORSMAX_AVG: 153020
FLOORSMIN_AVG: 208642
LANDAREA_AVG: 182590
LIVINGAPARTMENTS_AVG: 210199
LIVINGAREA_AVG: 154350
NONLIVINGAPARTMENTS_AVG: 213514
NONLIVINGAREA_AVG: 169682
APARTMENTS_MODE: 156061
BASEMENTAREA_MODE: 179943
YEARS_BEGINEXPLUATATION_MODE: 150007
YEARS_BUILD_MODE: 204488
COMMONAREA_MODE: 214865
ELEVATORS_MODE: 163891
ENTRANCES_MODE: 154828
FLOORSMAX_MODE: 153020
FLOORSMIN_MODE: 208642
LANDAREA_MODE: 182590
LIVINGAPARTMENTS_MODE: 210199
LIVINGAREA_MODE: 154350
NONLIVINGAPARTMENTS_MODE: 213514
NONLIVINGAREA_MODE: 169682
APARTMENTS_MEDI: 156061
BASEMENTAREA_MEDI: 179943
YEARS_BEGINEXPLUATATION_MEDI: 150007
YEARS_BUILD_MEDI: 204488
COMMONAREA_MEDI: 214865
ELEVATORS_MEDI: 163891
ENTRANCES_MEDI: 154828
FLOORSMAX_MEDI: 153020
FLOORSMIN_MEDI: 208642
LANDAREA_MEDI: 182590
LIVINGAPARTMENTS_MEDI: 210199
LIVINGAREA_MEDI: 154350
NONLIVINGAPARTMENTS_MEDI: 213514
NONLIVINGAREA_MEDI: 169682
FONDKAPREMONT_MODE: 210295
HOUSETYPE_MODE: 154297
TOTALAREA_MODE: 148431
WALLSMATERIAL_MODE: 156341
EMERGENCYSTATE_MODE: 145755
OBS_30_CNT_SOCIAL_CIRCLE: 1021
DEF_30_CNT_SOCIAL_CIRCLE: 1021
OBS_60_CNT_SOCIAL_CIRCLE: 1021
DEF_60_CNT_SOCIAL_CIRCLE: 1021
DAYS_LAST_PHONE_CHANGE: 1
FLAG_DOCUMENT_2: 0
FLAG_DOCUMENT_3: 0
FLAG_DOCUMENT_4: 0
FLAG_DOCUMENT_5: 0
FLAG_DOCUMENT_6: 0
FLAG_DOCUMENT_7: 0
FLAG_DOCUMENT_8: 0
FLAG_DOCUMENT_9: 0
FLAG_DOCUMENT_10: 0
FLAG_DOCUMENT_11: 0
FLAG_DOCUMENT_12: 0
FLAG_DOCUMENT_13: 0
FLAG_DOCUMENT_14: 0
FLAG_DOCUMENT_15: 0
FLAG_DOCUMENT_16: 0
FLAG_DOCUMENT_17: 0
FLAG_DOCUMENT_18: 0
FLAG_DOCUMENT_19: 0
FLAG_DOCUMENT_20: 0
FLAG_DOCUMENT_21: 0
AMT_REQ_CREDIT_BUREAU_HOUR: 41519
AMT_REQ_CREDIT_BUREAU_DAY: 41519
AMT_REQ_CREDIT_BUREAU_WEEK: 41519
AMT_REQ_CREDIT_BUREAU_MON: 41519
AMT_REQ_CREDIT_BUREAU_QRT: 41519
AMT_REQ_CREDIT_BUREAU_YEAR: 41519

In [46]:
train.shape

(307511, 122)

In [47]:
#### DIVIDING THE COLUMNS WITH NaN VALUES INTO THREE CATEGORIES

In [48]:
numerical_columns = ['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'APARTMENTS_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
                     'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 
                     'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
                     'COMMONAREA_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'TOTALAREA_MODE', 'ENTRANCES_MEDI']

categorical_columns = ['NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'HOUSETYPE_MODE', 'FONDKAPREMONT_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

zero_columns = ['OWN_CAR_AGE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'BASEMENTAREA_AVG', 'ELEVATORS_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'ELEVATORS_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
                'ELEVATORS_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
                'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [49]:
#### DATA WRANGLING

In [50]:
for cols in numerical_columns:
  train[cols] = train[cols].fillna(train.groupby('TARGET')[cols].transform('mean'))

In [51]:
for cols in zero_columns:
  train[cols] = train[cols].fillna(0)

In [52]:
for cols in categorical_columns:
  train[cols] = train.groupby('TARGET')[cols].apply(lambda x: x.fillna(x.value_counts().idxmax() if x.value_counts().max() >=1 else mode , inplace = False))

In [53]:
#### CHECKING FOR NaN VALUES

In [54]:
for cols in train.columns:
  print('{}: {}'.format(cols, train[cols].isna().sum()))

SK_ID_CURR: 0
TARGET: 0
NAME_CONTRACT_TYPE: 0
CODE_GENDER: 0
FLAG_OWN_CAR: 0
FLAG_OWN_REALTY: 0
CNT_CHILDREN: 0
AMT_INCOME_TOTAL: 0
AMT_CREDIT: 0
AMT_ANNUITY: 0
AMT_GOODS_PRICE: 0
NAME_TYPE_SUITE: 0
NAME_INCOME_TYPE: 0
NAME_EDUCATION_TYPE: 0
NAME_FAMILY_STATUS: 0
NAME_HOUSING_TYPE: 0
REGION_POPULATION_RELATIVE: 0
DAYS_BIRTH: 0
DAYS_EMPLOYED: 0
DAYS_REGISTRATION: 0
DAYS_ID_PUBLISH: 0
OWN_CAR_AGE: 0
FLAG_MOBIL: 0
FLAG_EMP_PHONE: 0
FLAG_WORK_PHONE: 0
FLAG_CONT_MOBILE: 0
FLAG_PHONE: 0
FLAG_EMAIL: 0
OCCUPATION_TYPE: 0
CNT_FAM_MEMBERS: 0
REGION_RATING_CLIENT: 0
REGION_RATING_CLIENT_W_CITY: 0
WEEKDAY_APPR_PROCESS_START: 0
HOUR_APPR_PROCESS_START: 0
REG_REGION_NOT_LIVE_REGION: 0
REG_REGION_NOT_WORK_REGION: 0
LIVE_REGION_NOT_WORK_REGION: 0
REG_CITY_NOT_LIVE_CITY: 0
REG_CITY_NOT_WORK_CITY: 0
LIVE_CITY_NOT_WORK_CITY: 0
ORGANIZATION_TYPE: 0
EXT_SOURCE_1: 0
EXT_SOURCE_2: 0
EXT_SOURCE_3: 0
APARTMENTS_AVG: 0
BASEMENTAREA_AVG: 0
YEARS_BEGINEXPLUATATION_AVG: 0
YEARS_BUILD_AVG: 0
COMMONAREA_AVG: 0
ELEVATORS_AVG: 0
ENTRANCES_AVG: 0
FLOORSMAX_AVG: 0
FLOORSMIN_AVG: 0
LANDAREA_AVG: 0
LIVINGAPARTMENTS_AVG: 0
LIVINGAREA_AVG: 0
NONLIVINGAPARTMENTS_AVG: 0
NONLIVINGAREA_AVG: 0
APARTMENTS_MODE: 0
BASEMENTAREA_MODE: 0
YEARS_BEGINEXPLUATATION_MODE: 0
YEARS_BUILD_MODE: 0
COMMONAREA_MODE: 0
ELEVATORS_MODE: 0
ENTRANCES_MODE: 0
FLOORSMAX_MODE: 0
FLOORSMIN_MODE: 0
LANDAREA_MODE: 0
LIVINGAPARTMENTS_MODE: 0
LIVINGAREA_MODE: 0
NONLIVINGAPARTMENTS_MODE: 0
NONLIVINGAREA_MODE: 0
APARTMENTS_MEDI: 0
BASEMENTAREA_MEDI: 0
YEARS_BEGINEXPLUATATION_MEDI: 0
YEARS_BUILD_MEDI: 0
COMMONAREA_MEDI: 0
ELEVATORS_MEDI: 0
ENTRANCES_MEDI: 0
FLOORSMAX_MEDI: 0
FLOORSMIN_MEDI: 0
LANDAREA_MEDI: 0
LIVINGAPARTMENTS_MEDI: 0
LIVINGAREA_MEDI: 0
NONLIVINGAPARTMENTS_MEDI: 0
NONLIVINGAREA_MEDI: 0
FONDKAPREMONT_MODE: 0
HOUSETYPE_MODE: 0
TOTALAREA_MODE: 0
WALLSMATERIAL_MODE: 0
EMERGENCYSTATE_MODE: 0
OBS_30_CNT_SOCIAL_CIRCLE: 0
DEF_30_CNT_SOCIAL_CIRCLE: 0
OBS_60_CNT_SOCIAL_CIRCLE: 0
DEF_60_CNT_SOCIAL_CIRCLE: 0
DAYS_LAST_PHONE_CHANGE: 0
FLAG_DOCUMENT_2: 0
FLAG_DOCUMENT_3: 0
FLAG_DOCUMENT_4: 0
FLAG_DOCUMENT_5: 0
FLAG_DOCUMENT_6: 0
FLAG_DOCUMENT_7: 0
FLAG_DOCUMENT_8: 0
FLAG_DOCUMENT_9: 0
FLAG_DOCUMENT_10: 0
FLAG_DOCUMENT_11: 0
FLAG_DOCUMENT_12: 0
FLAG_DOCUMENT_13: 0
FLAG_DOCUMENT_14: 0
FLAG_DOCUMENT_15: 0
FLAG_DOCUMENT_16: 0
FLAG_DOCUMENT_17: 0
FLAG_DOCUMENT_18: 0
FLAG_DOCUMENT_19: 0
FLAG_DOCUMENT_20: 0
FLAG_DOCUMENT_21: 0
AMT_REQ_CREDIT_BUREAU_HOUR: 0
AMT_REQ_CREDIT_BUREAU_DAY: 0
AMT_REQ_CREDIT_BUREAU_WEEK: 0
AMT_REQ_CREDIT_BUREAU_MON: 0
AMT_REQ_CREDIT_BUREAU_QRT: 0
AMT_REQ_CREDIT_BUREAU_YEAR: 0

In [56]:
#### ONE HOT ENCODING THE VARIABLES

In [57]:
train = pd.get_dummies(train)

train.shape

(307511, 246)

In [58]:
train.head()

   SK_ID_CURR  TARGET  ...  EMERGENCYSTATE_MODE_No  EMERGENCYSTATE_MODE_Yes
0      100002       1  ...                       1                        0
1      100003       0  ...                       1                        0
2      100004       0  ...                       1                        0
3      100006       0  ...                       1                        0
4      100007       0  ...                       1                        0

[5 rows x 246 columns]

In [65]:
#### NORMALIZING THE FLOAT COLUMNS/VARIABLES

In [66]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
minmax = MinMaxScaler()

for cols in train.columns:
  if train[cols].dtypes == 'float64':
    train[cols] = minmax.fit_transform(np.array(train[cols]).reshape([-1, 1]))

In [68]:
#### SPLITTING THE DATASET INTO PREDICTORS AND TARGET

In [69]:
X = train.iloc[:, 2:]
Y = train.iloc[:, 1]

print(train.shape, X.shape, Y.shape)

(307511, 246) (307511, 244) (307511,)

In [70]:
#### SPLITTING THE DATASET INTO TRAINING AND TESTING DATASETS

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=10)

In [72]:
#### APPLYING LOGISTIC REGRESSION

In [73]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=1000, solver='lbfgs', C=0.001)

lr.fit(X_train, Y_train)
predictions = lr.predict(X_test)

In [74]:
#### ACCURACY SCORE FOR LOGISTIC REGRESSION

In [75]:
from sklearn.metrics import classification_report, accuracy_score

accuracy_score(Y_test, predictions)

0.9192226644813861

In [76]:
#### CLASSIFICATION REPORT FORLOGISTIC REGRESSION

In [77]:
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     70668
           1       0.00      0.00      0.00      6210

    accuracy                           0.92     76878
   macro avg       0.46      0.50      0.48     76878
weighted avg       0.84      0.92      0.88     76878

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [78]:
predictions[predictions == 1]

array([], dtype=int64)

In [79]:
Y_test[Y_test == 0]

179491    0
261005    0
165031    0
288742    0
162776    0
         ..
306391    0
302695    0
90132     0
270762    0
198852    0
Name: TARGET, Length: 70668, dtype: int64

In [80]:
70668/(70668 + 6210)

0.9192226644813861

In [81]:
#### USING THE RANDOM FOREST CLASSIFIER

In [82]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(criterion='gini', max_depth=150, max_features='auto', n_jobs=20, random_state=123)

rfc.fit(X_train, Y_train)

predictions = rfc.predict(X_test)

In [83]:
#### ACCURACY SCORE FOr RANDOM FOrEST CLASSIFIER

In [84]:
print(accuracy_score(Y_test, predictions))

0.9790967506959078

In [85]:
#### CLASSIFICATION REPORT FOR RANDOM FOREST CLASSIFIER

In [86]:
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     70668
           1       1.00      0.74      0.85      6210

    accuracy                           0.98     76878
   macro avg       0.99      0.87      0.92     76878
weighted avg       0.98      0.98      0.98     76878

In [87]:
#### APPLYING A XGBCLASSIFIER FOR TRAINING AND VALIDATING

In [88]:
from xgboost import XGBClassifier

xgb = XGBClassifier(max_depth=150, learning_rate=0.001, n_estimators=150, n_jobs=50, booster='gbtree', random_state=123, importance_type='gain')

xgb.fit(X_train, Y_train)

predictions = xgb.predict(X_test)

In [89]:
#### ACCURACY SCORE FOR XGBCLASSIFIER

In [90]:
print(accuracy_score(Y_test, predictions))

0.9763001118655532

In [91]:
#### CLASSIFICATION REPORT FOR XGBCLASSIFIER

In [92]:
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     70668
           1       0.95      0.74      0.84      6210

    accuracy                           0.98     76878
   macro avg       0.96      0.87      0.91     76878
weighted avg       0.98      0.98      0.97     76878